p{
    background-color: blue;
    color: white;
}

a{
    background-color: blue;
    color: white;
}

div{
    background-color: blue;
    color: white;
}

span{
    background-color: aqua;
}